h1{
  Color:yellow;
  Font-size: 60px;
  background-color:#b0c4de;
}

a:hover{
Color: hotpink;
}

p.firstParagraph{
  color:Red;
}

#boxModel{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid purple;
    padding: 25px;
    margin: 25px;
}

#backgroundHome{
	
}
#aboutdiv{
	width: 100%;
	height: 500px;
}

#centerDiv{
	
	height: 500px;
	width: 1000px;
}
#aboutArticle{
	height: 500px;
	width: 400px;
	float: left;
}
#myphoto{
	height: 500px;
	width: 300px;
	float: left;
}